[workspace]
resolver = "2"
members = [
  "geo",
  "geo-test-fixtures",
  "geo-traits",
  "geo-types",
]

[patch.crates-io]

# Ensure any transitive dependencies also use the local geo/geo-types
geo = { package = "geo-3d", path = "geo" }
geo-types = { path = "geo-types" }
